$base-color_1: #fff;
$base-color_2: #000;
$font_family_1: sans-serif;
$background_color_1: #112055;
$background_color_2: #4f9d92;

.box__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 20px;
	font-family: $font_family_1;
}
.box-primary {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
	background-color: $background_color_1;
	color: $color_1;
}
.box-primary-lighter {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
}
.box-primary-darker {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
}
.box-secondary {
	padding: 10px;
	border-radius: 5px;
	box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
	background-color: $background_color_2;
	color: $color_2;
}
.button {
  background:$background-color_1;
  &:hover: {
    background:$background-color_2-hover;
  }
}